body{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;

}
img{
    border:5px solid white;
    height: 400px;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    
}
footer{
    background-color: white;
    text-align: center;
}